@import "./_mixins.scss";

.header{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 14px;
    background-color: #ffffff;
    border-bottom: 3px solid #28336A;
}

.header-img-wrapper {
    width: 80%;
    max-width: 290px;
    margin: 0 auto;

    @include atLarge {
        width: 25%;
    }
}

.header .header-img-wrapper img {
    width: 100%;
}